body {
    transition: background-color 0.3s, color 0.3s;
}

.light-mode {
    background-color: #fff;
    color: #000;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.theme-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#lightbulb {
    font-size: 24px;
    margin-right: 10px;
}

.dark-mode #lightbulb {
    filter: grayscale(100%);
}

button {
    padding: 10px 20px;
    cursor: pointer;
}
