body {
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.light-mode {
    background-color: #fff;
    color: #000;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.theme-container {
    display: flex;
    align-items: center;
}

#lightbulb {
    font-size: 48px;
    margin-right: 20px;
}

.dark-mode #lightbulb {
    filter: grayscale(100%);
}

button {
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
}
